.pagination{
    
        margin-top: 24px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 24px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        width: 842px;
        justify-content: space-between;
    
}

.pagination button{
    border: none;
    cursor: pointer;
    color: rgb(5, 5, 5);
    background: none;
    display: flex;
    gap:15px;
    align-items: center;
    width: fit-content;
    border-radius: 8px;
    padding: 10px 16px;
    
  }
  .pagenumbers{
    display: flex;
    width: 300px;
    overflow: hidden;
  }

  @media screen and (max-width: 450px) {
    /* .call-to-action button{
      display: none;
    } */
    .pagination{
      padding-left: 0;
      margin-left: 32px;
      padding-right: 0;
      margin-right: 32px;
      max-width: 85vw;
    }
.pagination button{
        padding-left: 0;
    }
    
  }

