@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App{
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  color: rgb(5, 5, 5);
  
  
 
}



.todo-main{
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}
.todo-main aside{
  margin-top: 50px;
}

.react-calendar {
  padding: 20px;
  width: 394px;
  height: 444px;
  border: 1px solid gray;
  border: none;
  border-radius: 8px;
  color: rgb(5, 5, 5);
}




.react-calendar__tile--now {
  background-color: none;
  text-decoration: underline dotted;
  color: rgb(5, 5, 5);
  border-radius: 50%;
}

.react-calendar__tile--active {
  background-color: #3f5bf6;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
}
element.style {
  flex: none;
  overflow: hidden;
  margin-inline-end: 0px;
}

.react-calendar__tile {
 
  width: 40px;
  height: 40px;
  

  
}

.react-calendar__month-view__days__day--weekend abbr {
  text-decoration: none;
}

.react-calendar__month-view__days__day abbr {
  text-decoration: none;
}

.react-calendar__month-view__weekdays{
  text-decoration: none;
}
abbr[title] {
  text-decoration: none;
}
.react-calendar__tile {

  padding: 0;
  text-align: center;
  line-height: 16px;
}


@media screen and (max-width: 450px) {
  .todo-main{
    flex-direction: column;
  }
  
}