@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App{
  
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  color: rgb(5, 5, 5);
  
  
 
}



.todo-main{
  display: flex;
  
  
  gap:77px;
 

}
.todo-main aside{
  margin-top: 50px;
}


.react-calendar {
  padding: 20px;
  width: 394px;
  height: 444px;
  border: 1px solid gray;
  border: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.344);
  border-radius: 8px;
  color: rgb(5, 5, 5);
}




.react-calendar__tile--now {
  background-color: none;
  text-decoration: underline dotted;
  color: rgb(5, 5, 5);
  border-radius: 50%;
}

.react-calendar__tile--active {
  background-color: #3f5bf6;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

}
element.style {
  flex: none;
  overflow: hidden;
  margin-inline-end: 0px;
}

.react-calendar__tile {
 
  width: 40px;
  height: 50px;
  

  
}


abbr[title] {
  text-decoration: none;
  
}
.react-calendar__tile {

  padding: 0;
  text-align: center;
  line-height: 16px;
}


.section-main-left{
  max-width: 900px;
  
  box-shadow: 1px 1px 1px  rgba(128, 128, 128, 0.364);
 
}
hr{
  opacity: .5;
 
}
aside{
  flex: 1;
  
}
.mobile-add-task{
  display: none;
}
.mobile-aside{
  display: none;
}

@media screen and (max-width: 450px) {
  .todo-main{
    flex-direction: column;
    gap: 0;
    position: relative;
    
  }
  .react-calendar{
    display: none;
  }
  .todo-main aside{
    margin-top: 0;
    
  }
  .section-main-left{
    box-shadow: none;
    padding-bottom: 100px;
  }
  hr{
    display: none;
  }
  
  .mobile-add-task{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    color: rgb(5,5,5);
    display: flex; 
    gap:5px;
    align-items: center;
    height: 48px;
    border-radius: 8px;
  
    padding: 16px 16px;
   
  
    margin-bottom: 32px;

    position: fixed;
    top: 90vh;
    left: 0;
    right: 0;
    z-index: 99;
   
   
  }
  .App{
    position: relative;
    font-size: 14px;
    overflow-x: hidden;
    padding: 10px;
  }
  .mobile-aside{
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 999;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.682);
  
  }
  .large-screen-aside{
    display: none;
  }
}